# Created by https://www.toptal.com/developers/gitignore/api/codeblocks,executable
# Edit at https://www.toptal.com/developers/gitignore?templates=codeblocks,executable

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend
# generated directories
bin/
obj/

### Executable ###
*.app
*.bat
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.vb
*.wsf

# End of https://www.toptal.com/developers/gitignore/api/codeblocks,executable
